<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438761220028-9n6n0pt0bi83g52cnsvc0lv937unmsfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438761220028-9n6n0pt0bi83g52cnsvc0lv937unmsfm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>438761220028-f298fdereol3mqbm4on134folgmc3d18.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZA-V4LvrM-jLvlVWRPRsZFmdZI3BJEYg</string>
	<key>GCM_SENDER_ID</key>
	<string>438761220028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parent.academic.diary</string>
	<key>PROJECT_ID</key>
	<string>parent-academic-diary</string>
	<key>STORAGE_BUCKET</key>
	<string>parent-academic-diary.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438761220028:ios:8385213d22a4ad57f36db9</string>
</dict>
</plist>